<nav>
  <div class="logo">
    <a href="index.html"><img src="assets/img/logo.png" alt="design first logo" id="logo" /></a>
    <h1>Design First</h1>
  </div>
  <div class="desktop-nav">
    <ul>
      <li><a href="about.html">About Us</a></li>
      <li><a href="#">Our Apps</a></li>
      <li class="contactUs"><a href="#">Contact Us</a></li>
    </ul>
  </div>
  <div class="mobile-nav-toggle">
    <span></span>
  </div>
</nav>
<div class="mobile-nav">
  <ul>
    <li><a href="about.html">About Us</a></li>
    <li><a href="#">Our Apps</a></li>
    <li class="contactUs"><a href="#">Contact Us</a></li>
  </ul>
</div>
<div class="overlay">
  <div class="modal">
    <div class="close-btn">
      <i class="ion-ios-close-outline"></i>
    </div>
    <div class="container">
      <h2>Come say hi, or stop by for a beer...</h2>
      <p>
        We love our fans, come by and chat about mobile apps or design. Lets work together, if you need help with your mobile app ping us <a href="mailto:hello@designfirstapps.com">hello@designfirstapps.com</a> or message us below, you can also reach us on <a href="#">Twitter</a> too.  We are located in the beautiful pacific northwest just outside Seattle, WA  in a small town called Kirkland. Our neighbors include Google, Amazon, Facebook, Microsoft, Expedia, Zillow, GoDaddy and many more awesome startups.
      </p>
      <form>
        <div class="formInput">
          <input type="text" name="name" placeholder="Name">
          <input type="email" name="email" placeholder="Email">
          <input type="text" name="phone" placeholder="Phone number">
        </div>
        <div class="formInput">
          <textarea name="message" placeholder="Type your message here dude..."></textarea>
        </div>
        <div class="formBottom">
          <input type="submit" value="SEND">
        </div>
      </form>
    </div>
  </div>
</div>
