.animated
  @include animation-fill-mode(both)

// Shake shake shake
@include keyframes(treeShake)
  0%
    @include transform(translate(0,0)  rotate(0deg))

  20%
    @include transform(translate(0,0)  rotate(2deg))

  40%
    @include transform(translate(0,0)  rotate(-1deg))

  60%
    @include transform(translate(0,0)  rotate(0.5deg))

  80%
    @include transform(translate(0,0)  rotate(-0.5deg))

  100%
    @include transform(translate(0,0)  rotate(0deg))

.treeShake
  @include animation-name(treeShake)
  @include transform-origin(bottom)
  @include animation-duration(4s)


// Bounce wit me
@include keyframes(bounceIn)
  from, 20%, 40%, 60%, 80%, to
    @include animation-timing-function(ease-out)

  0%
    opacity: 1
    @include transform(scale3d(.6, .6, .6))

  20%
    @include transform(scale3d(1.1, 1.1, 1.1))

  40%
    @include transform(scale3d(.9, .9, .9))

  60%
    opacity: 1
    @include transform(scale3d(1.03, 1.03, 1.03))

  80%
    @include transform(scale3d(.97, .97, .97))

  to
    opacity: 1
    @include transform(scale3d(1, 1, 1))

.bounceIn
  @include animation-name(bounceIn)
  @include animation-duration(2s)


// Flash! a-ah, Savior of the Universe
@include keyframes(flash)
  from, 50%, to
    opacity: 1

  25%, 75%
    opacity: .5

.flash
  @include animation-name(flash)
  @include animation-iteration-count(infinite)
  @include animation-duration(1s)


// Wish upon a shooting star
.shootingStar-slow
  @include animation(shootingStar linear 8s)
  @include animation-iteration-count(infinite)

.shootingStar-low
  @include animation(shootingStar-low linear 7s)
  @include animation-iteration-count(infinite)

.shootingStar
  @include animation(shootingStar linear 7s)
  @include animation-iteration-count(infinite)

@include keyframes(shootingStar)
  0%
    @include transform(translate(-2000px,1000px))

  100%
    @include transform(translate(3000px,-1000px))

@include keyframes(shootingStar-low)
  0%
    @include transform(translate(-2000px,800px) rotate(5deg))

  100%
    @include transform(translate(3000px,-700px) rotate(5deg))


// There's always room for jello
@include keyframes(jello)
  from, 11.1%, to
    @include transform(none)

  22.2%
    @include transform(skewX(-12.5deg) skewY(-12.5deg))

  33.3%
    @include transform(skewX(6.25deg) skewY(6.25deg))

  44.4%
    @include transform(skewX(-3.125deg) skewY(-3.125deg))

  55.5%
    @include transform(skewX(1.5625deg) skewY(1.5625deg))

  66.6%
    @include transform(skewX(-0.78125deg) skewY(-0.78125deg))

  77.7%
    @include transform(skewX(0.390625deg) skewY(0.390625deg))

  88.8%
    @include transform(skewX(-0.1953125deg) skewY(-0.1953125deg))


.jello
  @include animation-name(jello)
  @include transform-origin(center)
  @include animation-duration(2s)


// Zoomah Zoom Zoom
@include keyframes(zoomIn)
  from
    opacity: 0
    @include transform(scale3d(.3, .3, .3))

  50%
    opacity: 1

.zoomIn
  @include animation-name(zoomIn)
  @include animation-duration(1s)
