main#apps
  color: $white
  text-align: center
  min-height: 100vh
  background: #EEE

  section#appsHeader
    overflow: hidden
    height: 678px
    width: 100%

    .wrapper
      height: 100%
      overflow: hidden
      position: relative
      background:
        color: $darkness
        attachment: fixed

      .sky
        background:
          image: url(../img/appsSky.png)
          repeat: no-repeat
          attachment: fixed
        width: 100%
        height: 100%
        position: absolute

      .comet
        position: absolute
        top: 400px
        width: 230px
        height: 80px
        background:
          image: url(../img/comet2.png)
          repeat: no-repeat
          size: 100%

      .moon
        background:
          image: url(../img/moon.png)
          repeat: no-repeat
          attachment: fixed
        width: 100%
        height: 100%
        position: absolute

      ul
        li.layer
          height: 50vh

          .clouds
            display: block
            background:
              image: url(../img/appClouds.png)
              repeat: no-repeat
              position: top right
            width: 100%
            height: 100%
            position: absolute
            top: 129px
            right: 0

  section#appsBody

    #appsTitle
      max-height: 89px
      background: $white
      color: $textGrey
      text-align: left
      padding: 25px
      margin-bottom: 17px

      h1
        margin: 0
        font-size: 30px
        font-weight: 400
        display: inline-block

    .appBox
      height: 758px
      max-width: 1024px
      background: $white
      box-shadow: 0 20px 25px -10px rgba(0,0,0,0.3)
      margin: 0 auto 56px
      position: relative

      #founderfox
        height: 679px
        width: 100%
        position: absolute
        top: 17px
        background:
          image: url(../img/foxBG.png)
          size: cover

        img.acquired
          float: right

        .aboutAppContainer
          width: 411px
          height: 100%
          position: relative

          .aboutAppBG
            position: absolute
            top: 0
            right: 0
            bottom: 0
            left: 0
            z-index: 1
            background:
              position: left
              image: url(../img/foxBG.png)
              size: cover
            @include filter(blur(10px))

          .aboutApp
            position: relative
            z-index: 2
            background:
              color: rgba(50,50,50,0.75)
              // image: url(../img/foxBlur.png)
            width: 100%
            height: 100%
            padding: 25px
            box-sizing: border-box
            text-align: left

            #founderfox-logo
              margin-bottom: 61px

            p
              margin-top: 0
              font-size: 14px
              font-weight: 100

            .appHighlights
              position: absolute
              bottom: 148px
              left: 30px
              right: 30px
              @include display(flex)
              @include justify-content(space-between)

              img
                width: 65px
                height: 53px

            .appStore
              background: #FF6363
              height: 110px
              position: absolute
              bottom: 0
              left: 0
              right: 0
              @include display(flex)
              @include align-items(center)
              @include justify-content(center)

              img
                display: inline-block
                margin-right: 28px

              a
                text-decoration: none
                display: inline-block
                font-size: 18px
                color: $white
                font-weight: 100
                background: rgba(0,0,0,0.4)
                border-radius: 5px
                padding: 12px 35px


    #comingSoon
      text-align: center
      color: $textGrey
      position: relative

      #comingSoonBox
        position: absolute
        top: 187px
        right: 230px
        bottom: 187px
        left: 230px

        p
          margin: 0
          font-size: 20px
          opacity: 0.6

        p.lead
          font-size: 50px
          opacity: 1
          margin-bottom: 10px

        form
          input
            display: block
            text-align: center
            border: none
            margin: 0 auto
            box-sizing: border-box

          input[type="email"]
            margin-top: 90px
            font-size: 36px
            border-bottom: 1px solid #979797
            padding: 5px
            width: 100%

          input[type="submit"]
            margin-top: 38px
            background: $teal
            font-size: 24px
            font-weight: 300
            padding: 15px 164px
            border: none
            border-radius: 5px
            color: $white

  section#appsFooter
    max-height: 117px
    padding: 50px
    background: $aboutBlue
    text-align: center
    color: rgba($white, 0.3)
    font-size: 14px

    p
      margin: 0
