body
  font-family: $font
  position: relative

  main#index
    background: $midnight
    position: relative

    section.skyline
      position: relative
      overflow: hidden
      margin: 0
      background:
        image: url(../img/backBox.png)
        size: cover
        position: center

      .wrapper
        height: 1024px

        .sky
          background:
            image: url(../img/sky.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute

        .stars
          background:
            image: url(../img/stars.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute

        .clouds
          display: block
          background:
            image: url(../img/clouds.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute

        .sunset
          background:
            image: url(../img/sunset.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute


        .title
          color: $white
          position: absolute
          top: 30%
          left: 0
          right: 0
          @include display(flex)
          @include align-items(center)
          @include justify-content(center)

          ul
            list-style: none
            margin: 0
            padding: 0

            .lead
              font-size: 72px
              font-weight: 300
              margin: 0

            .sublead
              font-size: 20px
              opacity: 0.5
              font-weight: 100
              margin: 0
              padding-left: 5px


        .mountains
          background:
            image: url(../img/mountains.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute
          top: 75px

        .backTrees
          background:
            image: url(../img/backTrees.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute
          top: 75px

        .midTrees
          background:
            image: url(../img/midTrees.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute
          top: 50px

        .frontTrees
          background:
            image: url(../img/frontTrees.png)
            repeat: no-repeat
            // size: 100%
          width: 100%
          height: 100%
          position: absolute
          top: 350px


    section.baseline
      background: $darkness
      margin: 0
      padding-top: 100px
      overflow: hidden
      position: relative

      p
        text-align: center
        font-size: 24px
        font-weight: 100
        color: $white
        width: 100%
        border-bottom: 1px solid rgba($white, 0.2)
        line-height: 0.1em
        margin: 20px 0 100px

        span
          background: $darkness
          padding: 0 10px

      #highlights
        padding: 20px
        @include display(flex)
        @include justify-content(space-around)

        img
          background: $darkness
          width: 200px

        @media (min-width: 776px)
          img:hover
            @include transform(scale(1.25))
            transition: all 300ms ease-in-out

      .makeout-point
        position: relative
        bottom: 0
        left: 0
        right: 0
        margin-top: 150px
        padding-top: 50px
        height: 100vh
        max-width: 1366px
        background:
          image: url(../img/vanGuy.png)
          size: cover
          position: center

        img#tree1
          position: absolute
          bottom: -1.5em
          left: -2.5em

        img#tree2
          position: absolute
          bottom: -1.2em
          left: 5em
          z-index: 1

        img#tree3
          position: absolute
          bottom: -1.2em
          right: 8em

        img#tree4
          position: absolute
          bottom: -1.5em
          right: -1em
          z-index: 1



// Animations:
.animated
  @include animation-fill-mode(both)

@include keyframes(treeShake)
  0%
    @include transform(translate(0,0)  rotate(0deg))

  20%
    @include transform(translate(0,0)  rotate(2deg))

  40%
    @include transform(translate(0,0)  rotate(-1deg))

  60%
    @include transform(translate(0,0)  rotate(0.5deg))

  80%
    @include transform(translate(0,0)  rotate(-0.5deg))

  100%
    @include transform(translate(0,0)  rotate(0deg))

.treeShake
  @include animation-name(treeShake)
  @include transform-origin(bottom)
  @include animation-duration(4s)

@include keyframes(bounceIn)
  from, 20%, 40%, 60%, 80%, to
    @include animation-timing-function(ease-out)

  0%
    opacity: 1
    @include transform(scale3d(.6, .6, .6))

  20%
    @include transform(scale3d(1.1, 1.1, 1.1))

  40%
    @include transform(scale3d(.9, .9, .9))

  60%
    opacity: 1
    @include transform(scale3d(1.03, 1.03, 1.03))

  80%
    @include transform(scale3d(.97, .97, .97))

  to
    opacity: 1
    @include transform(scale3d(1, 1, 1))


.bounceIn
  @include animation-name(bounceIn)
  @include animation-duration(2s)

@include keyframes(flash)
  from, 50%, to
    opacity: 1

  25%, 75%
    opacity: .5

.flash
  @include animation-name(flash)
  @include animation-iteration-count(infinite)
  @include animation-duration(1s)
